<launch>
  <arg name="ns" default="optical_flow"/>
  <arg name="robot_ns" default="bubbles"/>
  <arg name="camera_topic" default="/bubbles/bubbles/camera_bottom/camera_image"/>

  <node name="tracker" pkg="bubbles_localization" type="optical_flow.py" ns="$(arg ns)" output="screen">
      <remap from="/$(arg ns)/image" to="/$(arg camera_topic)"/>
  </node>

  <!-- <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <param name="odom_frame_id" value="/odom" />
    <param name="base_link_frame_id" value="/$(arg robot_ns)/base_link" />
    <param name="sensor_frame_id" value="/$(arg robot_ns)/camera_bottom" />

    <param name="camera_height" value="1.0" />
    <param name="camera_pitch" value="-1.57" />

    <remap from="image" to="/$(arg robot_ns)/$(arg robot_ns)/camera_bottom/camera_image" />
    <remap from="camera_info" to="/$(arg robot_ns)/$(arg robot_ns)/camera_bottom/camera_info" />
  </node> -->

</launch>